<!DOCTYPE html>
<html>

<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
    <title>Clinic</title>

  

  <link rel="stylesheet" href="/home/jon/Developer/bower_components/datetimepicker-master/jquery.datetimepicker.css" />
  <!-- <script type="text/javascript" src="/home/jon/Developer/bower_components/moment/min/moment.min.js"></script> -->
  <!-- <script type="text/javascript" src="locale.js"></script> -->
  <!-- <script type="text/javascript" src="/home/jon/Developer/bower_components/bootstrap/dist/js/bootstrap.min.js"></script> -->
  <!-- <script type="text/javascript" src="/home/jon/Developer/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script> -->
  <!-- <link rel="stylesheet" href="/home/jon/Developer/bower_components/bootstrap/dist/css/bootstrap.min.css" /> -->
  <!-- <link rel="stylesheet" href="/home/jon/Developer/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" /> -->





</head>

<body>

<h1> Here we go </h1>

<div class="container">
  <div class="row">
    <div class='col-sm-6'>
      <input type="text" id="datetimepicker3"/>
    </div>

  </div>
  </div>

    






</body>

  <script  src="/home/jon/Developer/bower_components/datetimepicker-master/jquery.js"> </script>




  <script  src="/home/jon/Developer/bower_components/datetimepicker-master/build/jquery.datetimepicker.full.js"> </script>

    <script>
      $('#datetimepicker3').datetimepicker({
      inline:true
      });  

    </script>

</html>
