{% extends "base.html" %}
{% load staticfiles %}


{% block head %}
<title> Signup For a Doctor </title>
{% endblock head %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center ">

      <h1 ="col-lg-offset-1"> Signup Form </h1>

      <form class="form-horizontal" method="post" action="{% url 'signup:index' %}">
	{% csrf_token %}

	{% if form.errors %}
	<div class="alert alert-error">
		<button type="button" class="close" data-dismiss="alert">×</button>
		{% for field in form %} 
			{% if field.errors %}
			<li>{{ field.label }}: {{ field.errors|striptags }}</li>
			{% endif %}
		{% endfor %}
	</div>
	{% endif %}	

	<div class="form-group">
	  <input type="text" id="pfnInput" class="form-control" placeholder="First Name" name="patient_first_name">
	</div>
	
	<div class="form-group">
	  <input type="text" id="plnInput" class="form-control" placeholder="Last Name" name="patient_last_name">
	</div>

	<div class="form-group">

	  <input type="text" id="pmnInput" class="form-control" placeholder="Middle Name" name="patient_middle_name">
	</div>

	<div class="form-group">
	  <label for="selectDoctor" class="col-md-3 control-label"> Choose a Doctor </label>
	  <div class="col-md-7">
	    <select class="form-control" id="selectDoctor" name="doctor">
	      <option selected="selected" value="bla bla bla"> ------ </option> 
	      {% for doctor in doctor_list %}
              <option value="{{ doctor.id }}"> {{ doctor.doctor_full_name }} </option>
	      {% endfor %}
	    </select>
	  </div>
	</div>

	<div class="form-group">
	  <label for="appointmentDate" class="col-md-3 control-label"> Choose a Date </label>
	  <div class="col-md-7">
	    <input type="text" id="appointmentDate" class="form-control" name="appointment_date">
	  </div>
	</div>

	<div class="form-group">
	  <label for="appointmentTime" class="col-md-3 control-label"> Choose a Time </label>
	  <div class="col-md-7">
	    <input type="text" id="appointmentTime" class="form-control" name="appointment_time">  
	  </div>
	</div>

	<div class="form-group">
	  <br/>
	  <input type="submit" value="Submit" /> 
	</div>

    </form>
    </div>
  </div>
</div>

{% endblock content %}


